@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

@layer base {
	*:focus,
	*:focus-visible,
	*:active {
		outline: none !important;
		outline-offset: 0 !important;
	}

	[data-grab] {
		cursor: grab !important;
	}
	[data-grab]:active {
		cursor: grabbing !important;
	}
}
